<div class="jumbotron">
  <h1 class="display-4"><%= @game.Name %></h1>
  <p class="lead"><%= @game.description%> | <%= @game.rating %> | <%= @game.release_date %></p>
  <hr class="my-4">
  <p><%= @game.review %></p>
  <br/>
  <%= link_to 'Edit', edit_game_path(@game), class:"btn btn-success" %> 
  <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
  <%= link_to 'Back', games_path, class:"btn btn-dark" %>
</div>

